.schools__inner {
    padding-bottom: 10rem;

    @include _1366 {
        padding-bottom: 6rem;
    }

    @include _768 {
        padding-bottom: 48px;
    }
}

.schools__top {
    margin-bottom: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include _768 {
        margin-bottom: 40px;
        flex-direction: column;
    }
}

.schools__title {
    margin-bottom: 0;

    @include _768 {
        margin-bottom: 32px;
        font-size: 24px;
        width: 100%;
    }
}

.schools__suggest {
    padding: 0.75rem 2.5rem;
    color: $accent;
    @extend %montserrat-500;
    border: 1px solid #07a0c3;
    border-radius: 8px;

    @include _768 {
        width: 100%;
        font-size: 16px;
        text-align: center;
    }
}

.schools__list {
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 3.5rem;
    grid-column-gap: 2.5rem;

    @include _1024 {
        grid-template-columns: repeat(2, 1fr);
    }

    @include _768 {
        margin-bottom: 40px;
        grid-template-columns: 1fr;
        grid-row-gap: 40px;
    }
}
