<li class="instrument">
	<a class="instrument__open popup-link" href="#instrument-@@instrumentNum"></a>
	<img class="instrument__img" src="@@instrumentImg" alt="instrument">
	<div id="instrument-@@instrumentNum" class="popup instrument__popup">
		<div class="popup__body ">
			<div class="popup__content ">
				<a class="popup__close close-popup" href="#">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g opacity="0.5">
							<path d="M19 6L5 20" stroke="#333333" stroke-width="2" stroke-linecap="round" />
							<path d="M5 6L19 20" stroke="#333333" stroke-width="2" stroke-linecap="round" />
						</g>
					</svg>
				</a>

				<div class="popup__info">

					<div class="popup__img-box">
						<img class="popup__img" src="@@instrumentImg" alt="images">
					</div>

					<div class="popup__card">
						<span class="popup__card-title">Loom</span>

						<p class="popup__card-descr">
							Easy to use screen capture app for windows and macOS
						</p>

						<a class="popup__card-link button" href="#">
							Explore
						</a>

					</div>
				</div>
			</div>
		</div>
	</div>
</li>