<article class="blog-one format">
	<div class="container container--blog">
		<div class="blog-one__inner">

			<h1 class="blog-one__title title">Article about school news</h1>
			<div class="blog-one__info">
				<div class="feedback blog-one__feedback">
					<button class="feedback__like">
						<svg class="feedback__like-icon" width="16" height="14" viewBox="0 0 16 14"
							xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd"
								d="M13.6796 2.07467C13.0192 1.38667 12.1238 1 11.19 1C10.2563 1 9.36092 1.38667 8.70044 2.07467L8.02204 2.78135L7.34364 2.07467C5.96892 0.642666 3.73916 0.642666 2.36444 2.07467C0.989725 3.50667 0.989725 5.82935 2.36444 7.26135L3.04284 7.96802L8.02204 13.1547L13.0012 7.96802L13.6796 7.26135C14.3401 6.57335 14.7113 5.64068 14.7113 4.66801C14.7113 3.69534 14.3401 2.76267 13.6796 2.07467Z"
								stroke="#CCCCCC" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<span class="feedback__label">Like</span>
						<span class="feedback__like-num">33</span>
					</button>
					<a class="feedback__comment" href="#">
						<svg class="feedback__comment-icon" width="14" height="14" viewbox="0 0 14 14" fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd"
								d="M13 6.66668C13.002 7.54668 12.7967 8.41467 12.4 9.20001C11.4407 11.1193 9.47933 12.3327 7.33333 12.3333C6.45333 12.3353 5.58534 12.13 4.80001 11.7334L1 13L2.26666 9.20001C1.87 8.41467 1.66467 7.54668 1.66667 6.66668C1.66733 4.52068 2.88067 2.55934 4.80001 1.60001C5.58534 1.20334 6.45333 0.998014 7.33333 1.00001H7.66667C10.544 1.15868 12.8413 3.45601 13 6.33335V6.66668Z"
								stroke="#808080" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<span class="feedback__comment-num">18</span>
					</a>
				</div>
				<span class="blog-one__date">24 september 2024</span>
			</div>

			<div class="blog-one__content">
				<img class="blog-one__img" src="img/blog-one.jpg" alt="blog one img">

				<h2>
					A dictionary is a listing of lexemes from the lexicont ecialized dictionaries include words in specialist
					adja
				</h2>

				<p>
					A dictionary is a listing of lexemes from the lexicon of one or more specific languages, often arranged
					alphabetically
					(or by radical and stroke for ideographic languages), which may include information on definitions, usage,
					etymologies,
					pronunciations, iscribe concepts in specific fields are usually cdifferent fields of study. In theory, general
					dictionaries are supposed[citation needed] to be semasiological, mapping word to
				</p>

				<h3>English dictionaries in Britain</h3>

				<p>
					In a general dictionary, each word may have multiple meanings. Some or unconjugated form appears as the
					headword in most
					dictionaries. Dictionaries are most commonly found in the form of a book, but some newer dictionaries, like
					StarDict and
					the New Oxford American Dictionary are dictionary software running on PDAs or computers. There are also
				</p>

				<h3>American English dictionaries</h3>

				<p>
					In a general dictionary, each word may have multiple meanings. Some or unconjugated form appears as the
					headword in most
					dictionaries. Dictionaries are most commonly found in the form of a book, but some newer dictionaries, like
					StarDict and
					the New Oxford American Dictionary are dictionary software running on PDAs or computers. There are also
				</p>

				<h3>Prescriptive vs. descriptive</h3>

				<p>
					In a general dictionary, each word may have multiple meanings. Some or unconjugated form appears as the
					headword in most
					dictionaries. Dictionaries are most commonly found in the form of a book, but some newer dictionaries, like
					StarDict and
					the New Oxford American Dictionary are dictionary software running on PDAs or computers. There are also
				</p>

				<div class="feedback">
					<button class="feedback__like">
						<svg class="feedback__like-icon" width="16" height="14" viewBox="0 0 16 14"
							xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd"
								d="M13.6796 2.07467C13.0192 1.38667 12.1238 1 11.19 1C10.2563 1 9.36092 1.38667 8.70044 2.07467L8.02204 2.78135L7.34364 2.07467C5.96892 0.642666 3.73916 0.642666 2.36444 2.07467C0.989725 3.50667 0.989725 5.82935 2.36444 7.26135L3.04284 7.96802L8.02204 13.1547L13.0012 7.96802L13.6796 7.26135C14.3401 6.57335 14.7113 5.64068 14.7113 4.66801C14.7113 3.69534 14.3401 2.76267 13.6796 2.07467Z"
								stroke="#CCCCCC" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<span class="feedback__label">Like</span>
						<span class="feedback__like-num">33</span>
					</button>
					<a class="feedback__comment" href="#">
						<svg class="feedback__comment-icon" width="14" height="14" viewbox="0 0 14 14" fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd"
								d="M13 6.66668C13.002 7.54668 12.7967 8.41467 12.4 9.20001C11.4407 11.1193 9.47933 12.3327 7.33333 12.3333C6.45333 12.3353 5.58534 12.13 4.80001 11.7334L1 13L2.26666 9.20001C1.87 8.41467 1.66467 7.54668 1.66667 6.66668C1.66733 4.52068 2.88067 2.55934 4.80001 1.60001C5.58534 1.20334 6.45333 0.998014 7.33333 1.00001H7.66667C10.544 1.15868 12.8413 3.45601 13 6.33335V6.66668Z"
								stroke="#808080" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<span class="feedback__comment-num">18</span>
					</a>
				</div>
			</div>



			<div class="comments">
				<div class="comment-submit">
					<div class="avatar avatar--green">R</div>
					<input class="comment-submit__input" type="text" placeholder="Your comment">
				</div>
				<div class="comment">
					<div class="avatar avatar--blue">R</div>
					<div class="comment__content">

						<div class="comment__top">
							<span class="comment__author">James Richards</span>
							<span class="comment__date">21 april 2021</span>
						</div>

						<p class="comment__text">
							In a general dictionary, each word may have multiple meanings. Some or unconjugated form appears as the
							headword in most
							dictionaries. Dictionaries are most commonly found in the form of a book, but some newer dictionaries,
							like StarDict and
							the New Oxford American Dictionary are dictionary software running on PDAs or computers. There are also
						</p>

						<div class="feedback">
							<button class="feedback__like">
								<svg class="feedback__like-icon" width="16" height="14" viewbox="0 0 16 14"
									xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd"
										d="M13.6796 2.07467C13.0192 1.38667 12.1238 1 11.19 1C10.2563 1 9.36092 1.38667 8.70044 2.07467L8.02204 2.78135L7.34364 2.07467C5.96892 0.642666 3.73916 0.642666 2.36444 2.07467C0.989725 3.50667 0.989725 5.82935 2.36444 7.26135L3.04284 7.96802L8.02204 13.1547L13.0012 7.96802L13.6796 7.26135C14.3401 6.57335 14.7113 5.64068 14.7113 4.66801C14.7113 3.69534 14.3401 2.76267 13.6796 2.07467Z"
										stroke="#CCCCCC" stroke-linecap="round" stroke-linejoin="round" />
								</svg>
								<span class="feedback__label">Like</span>
								<span class="feedback__like-num">33</span>
							</button>

							<button class="feedback__reply">Reply</button>

						</div>

						<div class="comment">
							<div class="avatar avatar--blue">M</div>
							<div class="comment__content">

								<div class="comment__top">
									<span class="comment__author">Mark Whalles</span>
									<span class="comment__date">21 april 2021</span>
								</div>

								<p class="comment__text">
									In a general dictionary, each word may have multiple meanings. Some or unconjugated form appears as
									the
									headword in most
									dictionaries. Dictionaries are most commonly found in the form of a book, but some newer dictionaries,
									like StarDict and
									the New Oxford American Dictionary are dictionary software running on PDAs or computers. There are
									also
								</p>

								<div class="feedback">
									<button class="feedback__like">
										<svg class="feedback__like-icon" width="16" height="14" viewbox="0 0 16 14"
											xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd"
												d="M13.6796 2.07467C13.0192 1.38667 12.1238 1 11.19 1C10.2563 1 9.36092 1.38667 8.70044 2.07467L8.02204 2.78135L7.34364 2.07467C5.96892 0.642666 3.73916 0.642666 2.36444 2.07467C0.989725 3.50667 0.989725 5.82935 2.36444 7.26135L3.04284 7.96802L8.02204 13.1547L13.0012 7.96802L13.6796 7.26135C14.3401 6.57335 14.7113 5.64068 14.7113 4.66801C14.7113 3.69534 14.3401 2.76267 13.6796 2.07467Z"
												stroke="#CCCCCC" stroke-linecap="round" stroke-linejoin="round" />
										</svg>
										<span class="feedback__label">Like</span>
										<span class="feedback__like-num">33</span>
									</button>

									<button class="feedback__reply">Reply</button>

								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="comment">
					<div class="avatar avatar--blue">J</div>
					<div class="comment__content">

						<div class="comment__top">
							<span class="comment__author">James Richards</span>
							<span class="comment__date">21 april 2021</span>
						</div>

						<p class="comment__text">
							In a general dictionary, each word may have multiple meanings.
						</p>

						<div class="feedback">
							<button class="feedback__like">
								<svg class="feedback__like-icon" width="16" height="14" viewbox="0 0 16 14"
									xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd"
										d="M13.6796 2.07467C13.0192 1.38667 12.1238 1 11.19 1C10.2563 1 9.36092 1.38667 8.70044 2.07467L8.02204 2.78135L7.34364 2.07467C5.96892 0.642666 3.73916 0.642666 2.36444 2.07467C0.989725 3.50667 0.989725 5.82935 2.36444 7.26135L3.04284 7.96802L8.02204 13.1547L13.0012 7.96802L13.6796 7.26135C14.3401 6.57335 14.7113 5.64068 14.7113 4.66801C14.7113 3.69534 14.3401 2.76267 13.6796 2.07467Z"
										stroke="#CCCCCC" stroke-linecap="round" stroke-linejoin="round" />
								</svg>
								<span class="feedback__label">Like</span>
								<span class="feedback__like-num">33</span>
							</button>

							<button class="feedback__reply">Reply</button>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</article>