<section class="categories">
	<div class="container">
		<div class="categories__inner">

			<h2 class="categories__title title">Categories</h2>

			<ul class="categories__list">
				<li class="categories__item">
					<a class="categories__link" href="#">
						Power Point
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Science
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Anti adds
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Bookmarks
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Chatting
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Excel
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Chemistry
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Tools
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Physics
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Physics
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Google docs
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Video conference
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Fonts
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Reading
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Photoshop
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Grammar text
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Github
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Chemistry
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Presentation
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						VPN
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Photos
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						IT
					</a>
				</li>
			</ul>

		</div>
	</div>
</section>