<header class="header">
	<div class="container">
		<nav class="header__nav">
			<a class="logo" href="/">
				<img src="img/logo.svg" alt="logo">
			</a>

			<div class="header__top">

				<ul class="menu header__menu">
					<li class="menu__item">
						<a href="#">Meklēt rīku</a>
					</li>
					<li class="menu__item">
						<a href="#">Lasīj jaunumus</a>
					</li>
					<li class="menu__item">
						<a href="#">Skatīt goda dēlis</a>
					</li>
				</ul>

				<form class="language header__language" action="#">
					<select class="select" name="language" id="language">
						<option value="en">en</option>
						<option value="fr">fr</option>
					</select>
				</form>

				<div class="account">
					<!-- <div class="register">
						<a class="register__link button" href="#">
							Create account
						</a>
					</div> -->

					<div class="login">
						<a class="login__link button popup-link" href="#sign-in">
							Login
						</a>
					</div>

					<!-- <div class="authorized">
						<a class="authorized__favourite" href="#">
							Favourites
						</a>
						<div class="authorized__account">
							<button class="authorized__portrain" id="portrainBtn">
								R
							</button>

							<div class="authorized__info">

								<div class="authorized__content">
									<span class="authorized__portrain">
										R
									</span>
									<span class="authorized__name">
										Johnatan Williams
									</span>
								</div>

								<a class="authorized__signout" href="#">
									Sign out
								</a>

							</div>
						</div>
					</div> -->

				</div>

			</div>

			<button class="header__burger">
				<span></span>
			</button>

		</nav>
	</div>
</header>