<section class="instruments">
	<div class="container">

		<h2 class="instruments__title title">Instruments</h2>

		<ul class="instruments__list">
			@@loop('../bem-blocks/_instrument.html', [
			{"instrumentImg": "img/instrument-1.png" },
			{"instrumentImg": "img/instrument-2.png"},
			{"instrumentImg": "img/instrument-3.png"},
			{"instrumentImg": "img/instrument-4.png"},
			{"instrumentImg": "img/instrument-5.png"},
			{"instrumentImg": "img/instrument-6.png"}
			])
		</ul>

	</div>
</section>