<section class="news format">
	<div class="container">
		<div class="news__inner">
			<h1 class="title news__title">News</h1>

			<ul class="news__list">
				@@loop('../bem-blocks/_news-item.html', [
				{
				"news-image": "img/news-1.jpg",
				"news-title": "Duolingo boss plans to take on TikTok with maths",
				"news-date": "24 september 2021",
				"like-num": "33",
				"comment-num": "18"
				},
				{
				"news-image": "img/news-2.jpg",
				"news-title": "Are schools back to? Not quite",
				"news-date": "24 may 2021",
				"like-num": "23",
				"comment-num": "2"
				},
				{
				"news-image": "img/news-3.jpg",
				"news-title": "Five things to take to university",
				"news-date": "23 july 2021",
				"like-num": "11",
				"comment-num": "2"
				},
				{
				"news-image": "img/news-4.jpg",
				"news-title": "The Kenyans who are helping the world",
				"news-date": "21 april 2021",
				"like-num": "4",
				"comment-num": "45"
				},
				{
				"news-image": "img/news-5.jpg",
				"news-title": "What are the rules for schools in Wales?",
				"news-date": "8 june 2021",
				"like-num": "78",
				"comment-num": "22"
				},
				{
				"news-image": "img/news-6.jpg",
				"news-title": "Top grades reach record high",
				"news-date": "12 june 2021",
				"like-num": "23",
				"comment-num": "16"
				},
				{
				"news-image": "img/news-7.jpg",
				"news-title": "The Week in Cartoons for Oct. 4-8",
				"news-date": "6 october 2021",
				"like-num": "15",
				"comment-num": "4"
				},
				{
				"news-image": "img/news-2.jpg",
				"news-title": "Are schools back to? Not quite",
				"news-date": "24 may 2021",
				"like-num": "23",
				"comment-num": "2"
				},
				{
				"news-image": "img/news-1.jpg",
				"news-title": "Duolingo boss plans to take on TikTok with maths",
				"news-date": "24 september 2021",
				"like-num": "33",
				"comment-num": "18"
				},
				{
				"news-image": "img/news-2.jpg",
				"news-title": "Are schools back to? Not quite",
				"news-date": "24 may 2021",
				"like-num": "23",
				"comment-num": "2"
				},
				{
				"news-image": "img/news-3.jpg",
				"news-title": "Five things to take to university",
				"news-date": "23 july 2021",
				"like-num": "11",
				"comment-num": "2"
				},
				{
				"news-image": "img/news-4.jpg",
				"news-title": "The Kenyans who are helping the world",
				"news-date": "21 april 2021",
				"like-num": "4",
				"comment-num": "45"
				},
				{
				"news-image": "img/news-5.jpg",
				"news-title": "What are the rules for schools in Wales?",
				"news-date": "8 june 2021",
				"like-num": "78",
				"comment-num": "22"
				},
				{
				"news-image": "img/news-6.jpg",
				"news-title": "Top grades reach record high",
				"news-date": "12 june 2021",
				"like-num": "23",
				"comment-num": "16"
				},
				{
				"news-image": "img/news-7.jpg",
				"news-title": "The Week in Cartoons for Oct. 4-8",
				"news-date": "6 october 2021",
				"like-num": "15",
				"comment-num": "4"
				},
				{
				"news-image": "img/news-4.jpg",
				"news-title": "The Kenyans who are helping the world",
				"news-date": "21 april 2021",
				"like-num": "4",
				"comment-num": "45"
				}
				])
			</ul>

			<div class="pagination">
				<nav class="pagination__nav">
					<ul class="pagination__list">
						<li>
							<a href="#">
								<svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.75439 0.947388L2.33324 6.08322L7.75439 11.219" stroke-width="2" />
								</svg>
							</a>
						</li>
						<li>
							<a href="#">1</a>
						</li>
						<li>
							<a href="#">2</a>
						</li>
						<li>
							<a class="active" href="#">3</a>
						</li>
						<li>
							<a href="#">4</a>
						</li>
						<li>
							<a href="#">5</a>
						</li>
						<li class="pagination__dots">
							<a href="#">...</a>
						</li>
						<li>
							<a href="#">24</a>
						</li>
						<li>
							<a href="#">25</a>
						</li>
						<li>
							<a href="#">26</a>
						</li>
						<li>
							<a class="active" href="#">
								<svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1.24561 0.947388L6.66676 6.08322L1.24561 11.219" stroke="white" stroke-width="2" />
								</svg>
							</a>
						</li>
					</ul>
				</nav>
			</div>

		</div>






	</div>
</section>