<section class="schools format">
	<div class="container">
		<div class="schools__inner">
			<div class="schools__top">
				<h1 class="schools__title title">Schools</h1>
				<a class="schools__suggest" href="#">Suggest school</a>
			</div>

			<ul class="schools__list">
				@@loop('../bem-blocks/_schools-item.html', [
				{
				"news-image": "img/school-1.jpg",
				"news-title": "Duolingo boss plans to take on TikTok with maths",
				"like-num": "33",
				},
				{
				"news-image": "img/school-2.jpg",
				"news-title": "Are schools back to? Not quite",
				"like-num": "23",
				},
				{
				"isLiked": "liked",
				"news-image": "img/school-3.jpg",
				"news-title": "Five things to take to university",
				"like-num": "11",
				},
				{
				"news-image": "img/school-4.jpg",
				"news-title": "The Kenyans who are helping the world",
				"like-num": "4",
				},
				{
				"news-image": "img/school-5.jpg",
				"news-title": "What are the rules for schools in Wales?",
				"like-num": "78",
				},
				{
				"news-image": "img/school-6.jpg",
				"news-title": "Top grades reach record high",
				"like-num": "23",
				},
				{
				"news-image": "img/school-7.jpg",
				"news-title": "The Week in Cartoons for Oct. 4-8",
				"like-num": "15",
				},
				{
				"news-image": "img/school-8.jpg",
				"news-title": "Are schools back to? Not quite",
				"like-num": "23",
				},
				{
				"news-image": "img/school-9.jpg",
				"news-title": "Duolingo boss plans to take on TikTok with maths",
				"like-num": "33",
				},
				{
				"news-image": "img/school-10.jpg",
				"news-title": "Are schools back to? Not quite",
				"like-num": "23",
				},
				{
				"isLiked": "liked",
				"news-image": "img/school-2.jpg",
				"news-title": "Five things to take to university",
				"like-num": "11",
				},
				{
				"news-image": "img/school-5.jpg",
				"news-title": "The Kenyans who are helping the world",
				"like-num": "4",
				},
				])
			</ul>

			<div class="pagination">
				<nav class="pagination__nav">
					<ul class="pagination__list">
						<li>
							<a href="#">
								<svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.75439 0.947388L2.33324 6.08322L7.75439 11.219" stroke-width="2" />
								</svg>
							</a>
						</li>
						<li>
							<a href="#">1</a>
						</li>
						<li>
							<a href="#">2</a>
						</li>
						<li>
							<a class="active" href="#">3</a>
						</li>
						<li>
							<a href="#">4</a>
						</li>
						<li>
							<a href="#">5</a>
						</li>
						<li class="pagination__dots">
							<a href="#">...</a>
						</li>
						<li>
							<a href="#">24</a>
						</li>
						<li>
							<a href="#">25</a>
						</li>
						<li>
							<a href="#">26</a>
						</li>
						<li>
							<a class="active" href="#">
								<svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1.24561 0.947388L6.66676 6.08322L1.24561 11.219" stroke="white" stroke-width="2" />
								</svg>
							</a>
						</li>
					</ul>
				</nav>
			</div>


		</div>
	</div>
</section>