<section class="welcome">
	<div class="container">
		<div class="welcome__inner">

			<div class="welcome__content">

				<span class="welcome__subject">Digital plugin library</span>

				<h1 class="welcome__title">
					Atrodi savu digitālo rīku
				</h1>

				<p class="welcome__descr">
					About 1,204 results in 0.028 seconds. Related searches: Jpg, File, Format, Image, Document, Extension, Photo,
					Picture,
					File format
				</p>

				<div class="welcome__materials materials">
					<div class="materials__promo">
						<div class="materials__content">
							<span class="materials__label">Best materials</span>
							<span class="materials__name">Educational materials</span>
							<a class="materials__promo-link button" href="#">Explore</a>
						</div>
						<img class="materials__image" src="img/doc-icons.svg" alt="images">
					</div>

					<ul class="materials__list">
						<li class="materials__item">
							<a class="materials__link materials__link--schools --svg__arrow-right" href="#">
								<span class="materials__link-name">Schools</span>
								<span class="materials__link-descr">The best schools</span>
							</a>
						</li>

						<li class="materials__item">
							<a class="materials__link materials__link--news --svg__arrow-right" href="#">
								<span class="materials__link-name">News</span>
								<span class="materials__link-descr">All the newest details</span>
							</a>
						</li>
					</ul>

				</div>

			</div>

			<div class="welcome__steps steps">

				<ul class="steps__list">
					<li class="steps__item">
						<span class="steps__num">1</span>
						<span class="steps__name">Meklē</span>
						<p class="steps__descr">About 1,204 results in 0.028 seconds.</p>
					</li>
					<li class="steps__item">
						<span class="steps__num">2</span>
						<span class="steps__name">Izvēlies</span>
					</li>
					<li class="steps__item">
						<span class="steps__num">3</span>
						<span class="steps__name">Izmanto</span>
					</li>
				</ul>

				<ul class="steps__guides">
					<li class="steps__guide">
						<div class="search">
							<div class="search__top">
								<span class="search__query">
									Grammar text, video conference
								</span>
								<span class="search__btn button">Search</span>
							</div>

							<ul class="search__results">
								<li class="search__result">
									<p class="search__text">
										Plugins For <span>video conference</span>
									</p>
									<img class="search__img" src="img/mind-icon.png" alt="instrument-icon">
								</li>

								<li class="search__result">
									<p class="search__text">
										Be correct with <span>grammarly</span> plugin
									</p>
									<img class="search__img" src="img/grammarly-icon.png" alt="instrument-icon">
								</li>

								<li class="search__result">
									<p class="search__text">
										Mentimeter
									</p>
									<img class="search__img" src="img/mentimeter-icon.png" alt="instrument-icon">
								</li>
							</ul>
						</div>
					</li>

					<li class="steps__guide">
						<div class="demo-instruments">
							<img class="demo-instruments__img" src="img/step-instruments.png" alt="instruments">
						</div>
					</li>

					<li class="steps__guide">
						<div class="demonstration">
							<div class="demonstration__example">
								<span>Lets</span> start with Olizglitiba
								<div class="demonstration__tooltip">
									<span class="demonstration__comment">add an apostrophe</span>
									<span class="demonstration__correct">Let’s</span>
								</div>
							</div>
						</div>
					</li>

				</ul>

			</div>

		</div>
	</div>
</section>