.instruments {
    @include _768 {
        border-top: 1px solid #cccccc;
    }
}

.instruments__inner {
    padding: 4.375rem 0 7.125rem;
    border-top: 1px solid #cccccc;

    @include _768 {
        padding: 40px 0 48px;
        border-top: none;
    }
}

.instruments__title {
    margin-bottom: 3.438rem;
}

.instruments__list {
    display: flex;
    justify-content: space-between;

    @include _1366 {
        flex-wrap: wrap;
    }

    @include _979 {
        justify-content: start;
    }

    @include _414 {
        justify-content: center;
    }

    & .instrument {
        margin-right: 1.5rem;

        @include _1366 {
            margin-bottom: 1.5em;
        }

        @include _768 {
            &:last-child {
                margin-bottom: 0;
            }
        }

        @include _414 {
            margin-right: 0;
        }
    }
}
