.login__link,
.register__link {
    padding: 0.75rem 2.5rem;
    @extend %montserrat-500;

    @include _979 {
        padding: 10px 32px;
        font-size: 14px;
    }
}

.login .login__link,
.register .register__link {
    @include _768 {
        margin-bottom: 24px;
        padding: 0;
        display: inline-block;
        background-color: transparent;
        color: $accent;
        &:hover {
            background-color: transparent;
        }
    }
}
