.materials__promo {
    margin-bottom: 50px;
    padding: 32px 40px;
    display: flex;
    align-items: center;
    background-color: #f6f7f7;
    border-radius: 16px;

    @include _768 {
        padding: 24px;
    }

    @include _630 {
        margin-bottom: 16px;
        flex-direction: column;
        align-items: center;
    }
}

.materials__box {
    display: flex;
    align-items: center;

    @include _630 {
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
    }
}

.materials__content {
    margin-right: 70px;

    @include _630 {
        margin-right: 0;
    }
}

.materials__label {
    margin-bottom: 4px;
    display: block;
    @extend %montserrat-500;
    color: black;
    font-size: 12px;

    @include _630 {
        text-align: center;
    }
}

.materials__name {
    margin-bottom: 16px;
    display: block;
    @extend %montserrat-600;
    color: $accent;
    white-space: nowrap;

    @include _630 {
        margin-bottom: 24px;
    }
}

.materials__promo-link {
    padding: 5px 16px;
    max-width: 86px;
    display: flex;
    justify-content: center;

    @include _630 {
        display: none;
    }

    &--mobile {
        display: none;
        @include _630 {
            display: block;
            max-width: 100%;
        }
    }
}

.materials__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include _630 {
        flex-direction: column;
    }
}

.materials__item {
    max-width: 240px;
    width: 100%;

    @include _768 {
        &:first-child {
            margin-right: 32px;
        }
    }

    @include _630 {
        max-width: 100%;
        &:first-child {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }
}

.materials__link {
    padding: 26px 24px;

    display: block;
    color: white;
    border-radius: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    &--schools {
        background-color: $accent;
        &:hover {
            background-color: #1d768a;
            box-shadow: 0px 3px 28px rgba(0, 0, 0, 0.06);
        }
    }
    &--news {
        background-color: #9fd356;
        &:hover {
            background-color: #769b42;
            box-shadow: 0px 3px 28px rgba(0, 0, 0, 0.06);
        }
    }
}

.materials__link-name,
.materials__link-descr {
    display: block;
}

.materials__link-name {
    margin-bottom: 4px;
}

.materials__link-descr {
    font-size: 12px;
}

.--svg__arrow-right {
    background-repeat: no-repeat;
    background-position: calc(100% - 32px) center;
}
