.news-item {
    min-height: 20.625rem;
    display: flex;
    flex-direction: column;

    @include _979 {
        min-height: 19.625rem;
    }
}

.news-item:hover {
    .news-item__img {
        height: 5rem;
        width: 100%;

        @include _630 {
            height: auto;
        }

        @include _414 {
            height: 6.5rem;
        }
    }

    .news-item__preview {
        display: block;
    }
}

.news-item__link {
    display: block;

    @include _630 {
        margin-bottom: 1.5rem;
    }
}

.news-item__img,
.schools-item__img {
    margin-bottom: 1rem;
    border-radius: 1rem;
    object-fit: cover;

    @include _630 {
        width: 100%;
    }

    @include _414 {
        height: 6.5rem;
    }
}

.news-item__title,
.schools-item__title {
    margin-bottom: 0.5rem;
    display: block;
    @extend %montserrat-600;
}

.news-item__date {
    margin-bottom: 1rem;
    display: block;
    font-size: 0.75rem;
    color: #808080;
}

.news-item__preview,
.schools-item__preview {
    @extend %montserrat-500;
    color: black;
    display: none;

    @include _630 {
        display: block;
    }
}

.news-item__feedback,
.schools-item__feedback {
    margin-top: auto;
    display: flex;
    align-items: center;
    font-size: 0.75rem;
}

.news-item__like,
.schools-item__like {
    margin-right: 1rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid #cccccc;
    border-radius: 6px;
    cursor: pointer;
}

.news-item__like-icon,
.schools-item__like-icon {
    margin-right: 0.5rem;
    fill: transparent;
}

.news-item__label,
.schools-item__label,
.news-item__like-num,
.schools-item__like-num,
.news-item__comment-num {
    line-height: 1;
}

.news-item__like-num,
.schools-item__like-num {
    color: #808080;
}

.news-item__label,
.schools-item__label {
    margin-right: 0.5rem;
    @extend %montserrat-500;
}

.news-item__comment {
    display: flex;
    align-items: center;
}

.news-item__comment-icon {
    margin-right: 0.25rem;
    width: 0.94rem;
    height: 0.94rem;
}

.news-item__comment-num {
    color: black;
}
