.news-item {
    min-height: 20.625rem;
    display: flex;
    flex-direction: column;

    @include _979 {
        min-height: 19.625rem;
    }
}

.news-item:hover {
    .news-item__img {
        height: 5rem;
        width: 100%;

        @include _630 {
            height: auto;
        }

        @include _414 {
            height: 6.5rem;
        }
    }

    .news-item__preview {
        display: block;
    }
}

.news-item__link {
    display: block;

    @include _630 {
        margin-bottom: 1.5rem;
    }
}

.news-item__img,
.schools-item__img {
    margin-bottom: 1rem;
    border-radius: 1rem;
    object-fit: cover;

    @include _630 {
        width: 100%;
    }

    @include _414 {
        height: 6.5rem;
    }
}

.news-item__title,
.schools-item__title {
    margin-bottom: 0.5rem;
    display: block;
    font-size: 1rem;
    @extend %montserrat-600;

    @include _768 {
        margin-bottom: 8px;
        font-size: 16px;
    }
}

.news-item__date {
    margin-bottom: 1rem;
    display: block;
    font-size: 0.75rem;
    color: #808080;

    @include _768 {
        margin-bottom: 16px;
        font-size: 12px;
    }
}

.news-item__preview,
.schools-item__preview {
    @extend %montserrat-500;
    color: black;
    display: none;

    @include _768 {
        font-size: 16px;
    }

    @include _630 {
        display: block;
    }
}
