.search {
    margin-bottom: 2.5rem;
    max-width: 26.063rem;
    box-shadow: 0px 3px 28px rgba(0, 0, 0, 0.06);
    border-radius: 0px 0px 16px 16px;
}

.search__top {
    display: flex;
    border: 1px solid #ebebeb;
    border-radius: 8px;
}

.search__query {
    padding-left: 2.375rem;
    padding-right: 1.875rem;
    height: 3rem;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    @extend %montserrat-500;
    background-image: url('../img/zoom.svg');
    background-repeat: no-repeat;
    background-position: 0.875rem center;
    border-right: none;
    white-space: nowrap;
}

.search__query.--svg__zoom {
    @include bg();
}

.search__results {
    padding: 1rem;
}

.search__result {
    margin-bottom: 0.688rem;
    display: flex;
    justify-content: space-between;
}

.search__result:last-child {
    margin-bottom: 0;
}

.search__img {
    object-fit: contain;
}

.search__text {
    @extend %montserrat-500;
}

.search__text span {
    padding: 0.125rem 0.063rem;
    background-color: #fff5cc;
}

.search__btn {
    padding: 0.75rem 2rem;
}
