.select {
    padding-right: 14px;
    padding-left: 5px;
    font-size: 14px;
    background-image: url('../img/select-arrow.svg');
    background-repeat: no-repeat;
    background-position: right center;
    appearance: none;
    border: none;
    outline: transparent;

    @include _979 {
        font-size: 13px;
    }
}
