.steps__guides {
    padding: 2.5rem;
    border-radius: 2.5rem;
    border: 1px solid rgba(54, 97, 246, 0.2);
}

.steps__list {
    margin-right: 1.25rem;
    padding: 1.875rem 0;
}

.steps__item {
    margin-bottom: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps__item:nth-child(2) {
    margin-bottom: 4.688rem;
}

.steps__item:last-child {
    margin-bottom: 0;
}

.steps__num {
    @extend %montserrat-700;
    font-size: 4.5rem;
    color: #a6ca59;
    line-height: 1.2;
}

.steps__name {
    margin-bottom: 0.938rem;
    @extend %montserrat-600;
    color: $accent;
    font-size: 1.375rem;
}

.steps__descr {
    text-align: center;
    max-width: 10.625rem;
}

.steps__images {
    padding: 2.5rem;
    border: 1px solid rgba(54, 97, 246, 0.2);
    border-radius: 2.5rem;
}

.steps__image-item {
    display: block;
    margin-bottom: 2.5rem;
    max-width: 26.063rem;
}

.steps__image-item:last-child {
    margin-bottom: 0;
}
